 @model TAClassifieds.Models.ViewAds
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="row">
    <label class="col-sm-offset-1 col-sm-4">
        <h4>View Ads in:</h4>
    </label>
    <div class="col-sm-10 col-sm-offset-1 ">
        @foreach (var item in Model.lstCategory)
        {
            <div class="col-sm-3">
                <a href="@Url.Action("Index","Home",  new { categoryID = item.CategoryId })" title="Register Your ID" , rel="nofollow">
                    <img src="@item.CategoryImage" class="image-box" width="180px" height="150px" id="@item.CategoryName" />
                </a>
                <h4 class="col-sm-offset-2">@item.CategoryName</h4>
            </div>
        }
    </div>
    </div>
<div class="row">
    <div class="adcontainer">
        <label>Ads in: <span class="category"></span></label>
        <table class="table">
            @foreach (var item in Model.lst)
            {

                <tr class="list-box">
                    <td class="col-xs-4">
                        <img src="@item.ClassifiedImage" width="150px" height="120px">
                    </td>
                    <td class="col-xs-6">
                        <a href="viewdetail.html"><h4>@item.ClassifiedTitle</h4></a>
                        <p>@item.Location</p>
                        <p>@item.PostedDate</p>
                    </td>
                    <td class="col-xs-2">
                        <h4>@item.ClassifiedPrice </h4>
                    </td>
                </tr>
            }
        </table>
        <ul class="pagination pull-right">
            <li><a href="@Url.Action("Index","Home",new { pageNumber= Model.prevButton, categoryID=ViewBag.CategoryId })">&laquo;</a></li>
            @for (int page = 1; page <= Model.pageCount; page++)
            {

                <li><a href="@Url.Action("Index","Home",new { pageNumber= page, categoryID=ViewBag.CategoryId })">@page.ToString()</a></li>


            }
            <li><a href="@Url.Action("Index","Home",new { pageNumber= Model.nextButton, categoryID=ViewBag.CategoryId })">&raquo;</a></li>

        </ul>
    </div>
</div>


