@model TAClassifieds.Models.DAL.TAC_User
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="row">
    <div class="logincontainer">
        <label>Create an Account:</label>
        @using (Html.BeginForm("Register", "Register", FormMethod.Post, new { @class = "form-horizontal form-signin form-margin" }))
        {
            <div class="form-group">
                @Html.LabelFor(x => x.First_Name, new { @class = "control-label col-sm-4" })
                <div class="col-sm-6">
                    @Html.TextBoxFor(x => x.First_Name, new { @class = "form-control", placeholder = "Enter your First Name", name = "firstname", id = "firstname" })
                    <p class="text-danger">@Html.ValidationMessageFor(x => x.First_Name)</p>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Last_Name, new { @class = "control-label col-sm-4" })
                <div class="col-sm-6">
                    @Html.TextBoxFor(x => x.Last_Name, new { @class = "form-control", placeholder = "Enter your Last Name", name = "lastname", id = "lastname" })
                    <p class="text-danger">@Html.ValidationMessageFor(x => x.Last_Name)</p>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Email, new { @class = "control-label col-sm-4" })
                <div class="col-sm-6">
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Enter your email id", name = "email", id = "email" })
                    <p class="text-danger">@Html.ValidationMessageFor(x => x.Email)</p>
                </div>
            </div>

            <div class="form-group">

                @Html.LabelFor(x => x.UPassword, new { @class = "control-label col-sm-4" })
                <div class="col-sm-6">
                    @Html.PasswordFor(x => x.UPassword, new { @class = "form-control", placeholder = "Enter your Password", name = "pwd", id = "pwd" })
                    <p class="text-danger">@Html.ValidationMessageFor(x => x.UPassword)</p>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.RepeatPassword, new { @class = "control-label col-sm-4" })

                <div class="col-sm-6">
                    @Html.PasswordFor(x => x.RepeatPassword, new { @class = "form-control", placeholder = "Repeat your password", name = "repeatpwd", id = "repeatpwd" })
                    <p class="text-danger">@Html.ValidationMessageFor(x => x.RepeatPassword)</p>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.City, new { @class = "control-label col-sm-4" })

                <div class="col-sm-6">
                    @Html.TextBoxFor(x => x.City, new { @class = "form-control", placeholder = "Enter Your City" })
                    <p class="text-danger">@Html.ValidationMessageFor(x => x.City)</p>

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Phone, new { @class = "control-label col-sm-4" })

                <div class="col-sm-6">
                    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", placeholder = "Enter Your Phone Number" })
                    <p class="text-danger">@Html.ValidationMessageFor(x => x.Phone)</p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-10">
                    <div class="checkbox" id="terms" name="terms">
                        @Html.CheckBoxFor(m => m.TermsAndConditions)
                        @Html.LabelFor(m => m.TermsAndConditions)<br />
                        <p class="text-danger">@Html.ValidationMessageFor(x => x.TermsAndConditions)</p>

                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-12">
                    <input type="submit" value="Create" class="btn btn-md btn-primary" id="create-btn" />
                </div>
            </div>
        }
        <p class="text-danger">
            @ViewBag.ErrorMessage
        </p>
    </div>
</div>